    <% if object.errors.any? %>
      <div class="alert alert-danger">
        <div>
          <strong>The form contains <%= pluralize(object.errors.count, "error") %>.</strong>
        </div>
        <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
        </ul>
      </div>
    <% end %>