<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">
      <%= link_to post.post_title, post_path(post.id) %>
    </h4>
    <p class="list-group-item-text"><small>Added: <%= post.created_at %></small></p>
    <p class="list-group-item-text"><%= truncate(post.post_content, :length => 165) %></p>
    <p class="list-group-item-text">
      <%= link_to "delete", post, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </p>
  </div>
</div>