<% provide(:title, "About me - Mikle Viter") %>
<div class="row">
  <div class="col-md-4">
  <%= image_tag("mviter.jpg", height: "100%", width:"100%", alt: "Mikle Viter", class: "myphoto") %>
  </div>
  <div class="col-md-8">
    <h1>Mikle Viter</h1>
    <p>So, when people are asked to tell about themselves, they often don't know how to start. When composing a portfolio, we should try to think about what kind of charactaristic and features our suppliers want to know.</p>
    <p>I think, that my main feature is <mark>responsibility</mark>. Why this but not another? Because every programmer always teaches and he don't know everything. By the way, the number of customer's tasks is so giant, that programmer often have to learn new technologies and techniques of coding when doing them all. So, I'll tell you honestly, my future customer, that I don't know everything in Ruby on Rails and web development, but quite enougth to be able to find an answer to required question and do my task in estimated time and quality.</p>
    <p>My another feature is <mark>sociability</mark>. I like to communicate with people, to generate new ideas and listen to other's opinions. We all live in society and should be closer to each other. If we do so, we'll be able to collect knowledge and skills to solve our tasks. Its not a secret, that sociable people often have more advantages in doing work. So, I'm opened to my customers and they can always get the latest information about project's status. I'm opened for learning and doing new things. This is my lifestyle!</p>
    <p>My main programming skills:</p>
    <ul>
      <li>Ruby on Rails</li>
      <li>TDD, RSpec, Cucumber</li>
      <li>CSS, SCSS, SASS, Bootstrap, HTML5</li>
      <li>Git, Github, Heroku</li>
      <li>Mysql, Postgresql</li>
    </ul>
    <p>Contacts:</p>
    <ul>
      <li>City: Sevastopol, Russian Federation</li>
      <li>Phone: +7 (978) 747-93-43</li>
      <li>e-mail: mikle.viter@gmail.com</li>
      <li>skype: mikle.viter</li>
    </ul>
  </div>
</div>