<% provide(:title, "About me - Mikle Viter") %>
<div class="row">
    <p>Contacts:</p>
    <ul>
      <li>City: Sevastopol, Russian Federation</li>
      <li>Phone: +7 (978) 747-93-43</li>
      <li>e-mail: mikle.viter@gmail.com</li>
      <li>skype: mikle.viter</li>
    </ul>
</div>