@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.margin-top-10 {
	margin-top: 10px;
}

.search{
  margin-top:8px;
  margin-right:15px;
}

.myphoto{
  margin-top:25px;
}

.mv_contacts_ul li{
  margin-top:10px;
}

.mv_contacts_p{
  margin-top:50px;
  margin-left:23px;
}


// footer 

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small, .portfolio_link{
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}