<script type="text/javascript" 
      src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:<%= @skype_user_name %>?call">
   <img src="http://mystatus.skype.com/bigclassic/<%= @skype_user_name %>" 
       style="border: none;" width="182" height="44" alt="<%= @skype_user_name %> status" />
</a>